<div class='wrapper'>
  <div class="section1">
    <app-student-preview name="{{student?.name}}" sex="male"></app-student-preview>
  </div>
  <div class="section2" *ngIf="!examMode">
    <div class="student-data">
      <div class="description">
        Dane Studenta
      </div>
      <div class="student-information">
        <div class="column1">
          <app-readonly-field name="Kierunek" value="{{student?.study}}"></app-readonly-field>
          <app-readonly-field name="Specjalizacja" value="{{student?.specialization}}"></app-readonly-field>
          <app-readonly-field name="Nr albumu" value="{{student?.albumnumber}}"></app-readonly-field>
        </div>
        <div class="column2">
          <app-readonly-field name="Adres" value="{{student?.address.street}} {{student?.address.houseNumber}}"></app-readonly-field>
          <app-readonly-field name="Województwo" value="{{student?.address.region}}"></app-readonly-field>
          <app-readonly-field name="Miasto" value="{{student?.address.city}}"></app-readonly-field>
        </div>
        <div class="column3">
          <app-readonly-field name="Data urodzenia" value="{{student?.birthdate | date}}"></app-readonly-field>
          <app-readonly-field name="Pesel" value="{{student?.pesel}}"></app-readonly-field>
          <app-readonly-field name="Miejsce urodzenia" value="{{student?.birthplace}}"></app-readonly-field>
        </div>
      </div>
    </div>
  </div>

  <div class="section3" *ngIf='!examMode && !subjectOpen'>
    <span>Pobierz przedmioty studenta!</span>
    <button mat-raised-button color='primary' (click)='downloadSubjects()'>Pobierz przedmioty</button>
  </div>
  <ng-container *ngIf='!examMode && subjectOpen'>
    <div class="subjects">
      <div class="header"> Przedmioty studenta</div>
      <div class="subject" *ngFor="let element of subjectsData">
        <div class="subject-name">{{element.name}}</div>
        <div class="semester">Semestr {{element.semester}}</div>
        <button mat-raised-button color='primary'>Zobacz pytania</button>
      </div>
      <div class="show-more">Zobacz więcej przedmiotów</div>
    </div>
  </ng-container>

  <ng-container *ngIf='!examMode'>
    <div class="questions">
   <div class="action">
      <p>Wylosuj pytania dla studenta!</p>
      <button mat-raised-button color='primary' (click)="startExam()">Wylosuj pytania</button>
   </div>
   <div class="images">
     <img src="../../../assets/images/questions.svg">
   </div>
  </div>
  </ng-container>

  <ng-container *ngIf='examMode'>
    <div class="choosen-question">
      <p>Wylosowane pytania</p>
      <div class="cards">
      <ng-container *ngFor="let question of questions">
        <div class="question-card">
        {{question.name}}
        </div>
      </ng-container>
      </div>
      <a>Zmień pytania</a>
    </div>
  </ng-container>
</div>
