<div class='wrapper'>
  <div class="section1">
    <div class="student">
      <img src="../../assets/images/avatar.png">
      <div class="name">
        {{student?.name}}
      </div>
    </div>
    <img src="../../assets/images/graduation.png">
  </div>
  <div class="section2">
    <div class="student-data">
      <div class="description">
        Dane Studenta
      </div>
      <div class="student-information">
        <div class="column1">
          <app-readonly-field name="Kierunek" value="{{student?.study}}"></app-readonly-field>
          <app-readonly-field name="Specjalizacja" value="{{student?.specialization}}"></app-readonly-field>
          <app-readonly-field name="Nr albumu" value="{{student?.albumnumber}}"></app-readonly-field>
        </div>
        <div class="column2">
          <app-readonly-field name="Adres" value="{{student?.address.street}} {{student?.address.houseNumber}}"></app-readonly-field>
          <app-readonly-field name="Województwo" value="{{student?.address.region}}"></app-readonly-field>
          <app-readonly-field name="Miasto" value="{{student?.address.city}}"></app-readonly-field>
        </div>
        <div class="column3">
          <app-readonly-field name="Data urodzenia" value="{{student?.birthdate | date}}"></app-readonly-field>
          <app-readonly-field name="Pesel" value="{{student?.pesel}}"></app-readonly-field>
          <app-readonly-field name="Miejsce urodzenia" value="{{student?.birthplace}}"></app-readonly-field>
        </div>
      </div>
    </div>
  </div>
  <div class="section3">
    <div class="thesis-data">
      <div class="description">
        Dane pracy dyplomowej
      </div>
      <div class="thesis-information">
        <div class="column1">
          <app-readonly-field name="Promotor" value="{{student?.thesis.promoter}}"></app-readonly-field>
        </div>
        <div class="column2">
          <app-readonly-field name="Recenzent" value="{{student?.thesis.reviewer}}"></app-readonly-field>
        </div>
        <div class="column3">
          <app-readonly-field name="Temat" value="{{student?.thesis.topic}}"></app-readonly-field>
        </div>
      </div>
    </div>
  </div>
  <div class="section4" *ngIf='!subjectOpen'>
    <span>Pobierz przedmioty studenta!</span>
    <button mat-raised-button color='primary' (click)='downloadSubjects()'>Pobierz przedmioty</button>
  </div>
  <ng-container *ngIf='subjectOpen'>
    <div class="subjects">
      <div class="header"> Przedmioty studenta</div>
      <div class="subject" *ngFor="let element of subjectsData">
        <div class="subject-name">{{element.name}}</div>
        <div class="semester">Semestr {{element.semester}}</div>
        <button mat-raised-button color='primary'>Zobacz pytania</button>
      </div>
      <div class="show-more">Zobacz więcej przedmiotów</div>
    </div>
  </ng-container>
</div>
