@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/variables.scss";
.wrapper {
    width: 100%;
    height: $section-w-o-header-height;
    app-student-preview {
        height: auto;
        width: 100%;
        display: flex;
        padding: $line-margin;
    }
    .section2 {
        display: flex;
        align-items: center;
        padding: $section-padding;
        background-color: $table-cell-color;
        height: auto;
        .student-data {
            width: 100%;
            .student-information {
                display: flex;
                flex-direction: row;
                font-size: $fs-regular;
                justify-content: space-between;
                >div {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    .section3 {
        height: auto;
        margin-top: $margin-regular;
        background-color: $table-cell-color;
        padding: $section-padding;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $fs-regular;
        display: flex;
        span {
            align-self: center;
            margin-right: $margin-regular;
        }
    }
    .subjects {
        display: flex;
        flex-direction: column;
        background-color: $table-cell-color;
        padding: $section-padding;
        width: 100%;
        margin-top: $margin-regular;
        .header {
            color: $secondary-text-color;
            font-size: $fs-medium;
            font-weight: 400;
            margin-bottom: $margin-regular;
        }
        .show-more {
            text-decoration: underline;
            font-size: $fs-regular;
            text-align: center;
            height: 50px;
            display: flex;
            align-items: center;
            align-self: center;
            border-radius: 0;
            background-color:unset;
            color: black;
            padding: 0 24px;
            height: $header-button-height;
        }
        .subject {
            height: auto;
            display: flex;
            justify-content: space-between;
            font-size: $fs-regular;
            align-items: center;
            min-height: 60px;
            color: $secondary-text-color;
            font-weight: 400;
            .subject-name {
                width: 40%;
            }
            .semester {
                width: 30%;
            }
        }
    }
    .questions {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $table-cell-color;
        margin-top: $margin-regular;
        .action {
            display: flex;
            margin-top: $margin-regular;
            font-size: $fs-regular;
            font-weight: 400;
            margin-bottom: $margin-regular;
            align-items: center;
            p {
                margin-right: $margin-regular;
                margin-bottom: 0;
            }
        }
    }
    .choosen-question {
        display: flex;
        flex-direction: column;
        margin-top: $margin-xl;
        padding: 48px 80px;
        background-color: $table-cell-color;
        color: $secondary-text-color;
        font-size: $fs-regular;
        font-weight: 500 !important;
        p {
            margin-bottom: $margin-large;
            font-size: 20px;
        }
        a {
            margin-top: 48px;
            text-decoration: underline;
            font-size: 20px;
            color: $secondary-text-color;
            cursor: pointer;
            text-align: center;
        }
        .cards {
            display: flex;
            justify-content: space-around;
            .question-card {
                padding: $margin-regular;
                width: $question-card-width;
                height: $question-card-height;
                background-color: white;
                border-radius: $button-border-radius;
                color: $secondary-text-color;
                font-size: $fs-regular;
                box-shadow: 0px 4px 4px 0px #e5e5e5;
                text-align: center;
                display: flex;
                align-items: center;
                p {
                    margin-bottom: $margin-large;
                }
            }
        }
    }
    app-readonly-field {
        margin-top: $margin-small;
    }
    img {
        height: $avatar-width;
        width: auto;
    }
    button {
        border-radius: $button-border-radius;
        background-color: $basic-color;
        color: white;
        font-size: $fs-regular;
        padding: 0 24px;
        height: $header-button-height;
    }
    .description {
        font-size: $fs-medium;
        margin-bottom: $margin-small;
    }
}
