@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/variables.scss";

.wrapper {
  width: 100%;
  height: $section-w-o-header-height;

  .section1 {
    height: 40%;
    display: flex;
    flex-direction: row;
    padding: $line-margin;
    align-items: center;
    justify-content: space-between;
    .student {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: $fs-xl;
      font-weight: $fw-medium;
      .name {
        margin-left: $margin-xl;
      }
    }
  }

  .section2 {
    display: flex;
    align-items: center;
    padding: $section-padding;
    background-color: $table-cell-color;
    height: 25%;
    .student-data {
      width: 100%;
      .student-information {
        display: flex;
        flex-direction: row;
        font-size: $fs-regular;
        justify-content: space-between;
        > div {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .section3 {
    display: flex;
    align-items: center;
    height: 25%;
    padding: $section-padding;
    .thesis-data {
      width: 100%;
      .thesis-information {
        display: flex;
        flex-direction: row;
        font-size: $fs-regular;
        justify-content: space-between;
        > div {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .section4 {
    height: 10%;
    background-color: $table-cell-color;
    padding: $section-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $fs-medium;
    display: flex;
    span {
      align-self: center;
      margin-right: $margin-regular;
    }
  }

  .subjects {
    display: flex;
    flex-direction: column;
    background-color: $table-cell-color;
    padding: $section-padding;
    width: 100%;
    .header {
      color: $secondary-text-color;
      font-size: $fs-medium;
      font-weight: 400;
      margin-bottom: $margin-regular;
    }
    .show-more {
      text-decoration: underline;
      font-size: $fs-regular;
      text-align: center;
      height: 50px;
      display: flex;
      align-items: center;
      align-self: center;
    }
    .subject {
      height: auto;
      display: flex;
      justify-content: space-around;
      font-size: $fs-regular;
      align-items: center;
      min-height: 60px;
      color: $secondary-text-color;
      font-weight: 400;
      .subject-name {
        width: 40%;
      }
      .semester {
        width: 30%;
      }
    }
  }
  app-readonly-field {
    margin-top: $margin-small;
  }

  img {
    height: 200px;
    width: auto;
  }

  button {
    border-radius: $button-border-radius;
    background-color: $basic-color;
    color: white;
    font-size: $fs-regular;
    padding: 0 24px;
    height: $header-button-height;
  }

  .description {
    font-size: $fs-medium;
    margin-bottom: $margin-small;
  }
}
