<div class='wrapper'>
    <div class="section1">
        <div class="student">
        <img src="../../assets/images/avatar.png">
        <div class="name">
            {{userData.name}}
        </div>
    </div>
        <img src="../../assets/images/graduation.png">
    </div>
    <div class="section2">
        <div class="student-data">
            <div class="s1">
                Dane Studenta
            </div>
            <div class="s2">
                <div class="ss1">
                    <app-readonly-field name="Kierunek" value="{{userData.kierunek}}"></app-readonly-field>
                    <app-readonly-field name="Uczelnia" value="{{userData.uczelnia}}"></app-readonly-field>
                    <app-readonly-field name="Data urodzenia" value="{{userData.data_urodzenia}}"></app-readonly-field>
                </div>
                <div class="ss2">
                    <app-readonly-field name="Kierunek" value="{{userData.kierunek}}"></app-readonly-field>
                    <app-readonly-field name="Kierunek" value="{{userData.kierunek}}"></app-readonly-field>
                    <app-readonly-field name="Kierunek" value="{{userData.kierunek}}"></app-readonly-field>
                </div>
                <div class="ss3">
                    <app-readonly-field name="Kierunek" value="{{userData.kierunek}}"></app-readonly-field>
                    <app-readonly-field name="Kierunek" value="{{userData.kierunek}}"></app-readonly-field>
                    <app-readonly-field name="Kierunek" value="{{userData.kierunek}}"></app-readonly-field>
                </div>
            </div>
        </div>
    </div>
    <div class="section3">

    </div>
    <div class="section4">

    </div>

</div>