@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";

:host {
  justify-content: center;
  display: flex;
  width: 100%;
  height: $section-w-o-header-height;

  .wrapper {
    background-color: $table-cell-color;
    width: 100%;
    height: 95%;
    margin: $line-margin;
    margin-top: $margin-regular;
    border-radius: 50px;

    .header {
      height: 10%;
      padding: 0 $margin-large;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        color: $quote-color;
        font-size: $fs-medium;
        font-weight: $fw-medium;
      }
      input {
        height: 60%;
        width: 220px;
        font-size: $fs-small;
        text-align: right;
        font-style: italic;
        border: none;
        border-radius: $button-border-radius;
        padding: 0 20px;
      }
    }

    .table {
      height: 90%;
      display: flex;
      overflow-y: auto;
      table {
        width: 100%;
        background-color: $table-cell-color;
        border-top: $border-table;
        height: fit-content;

        tr.example-detail-row {
          height: 0;
          td {
            border-bottom-width: 0px;
          }
        }

        .example-element-detail {
          overflow: hidden;
        }

        tr.example-element-row {
          height: auto;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-top: $border-table;
          padding: 10px 0;

          td:first-child {
            padding: 0 0 0 $margin-large;
            border: none;
            width: 35%;
          }

          td:last-child {
            justify-content: right;
            width: 15%;
          }

          td:nth-child(2) {
            justify-content: left;
            width: 20%;
          }

          td:nth-child(3) {
            justify-content: left;
            width: 30%;
          }

          td {
            display: flex;
            height: auto;
            border: none;
          }
        }

        .question-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: white;
          width: 100%;
          .icons {
            display: flex;
          }
        }
      }
    }
  }
}

i {
  color: $icon-color;
  font-weight: $fw-medium;
}

.no-results {
  border-bottom: none !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 180px;
    margin: 100px 0 50px 0;
  }
}
