@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";

.hero-section {
  margin-top: 80px;
  display: flex;
  width: 100%;
}

.image-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    .hero-image {
      max-width: 258px;
    }
}

.search-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

   span {
        font-weight: $fw-medium !important; // dlaczego nie wchodzi bez importanta??
        font-size: $fs-medium;
        margin-bottom: 50px;
      }

  .form {
    display: flex;
    border: 1px solid grey;
    width: max-content;

      input, button {
        border: none;
        padding: 20px;
        caret-color: #D3D3D3;
      }

      input:focus {
        outline: none;
      }

      .input-container input::-webkit-input-placeholder {
        text-align: right;
        border-right: 1px solid #D3D3D3;
        color: #D3D3D3;
        padding: 10px;
        font-size: $fs-regular;
      }

      .button-container button {
        padding: 10px;
        font-size: $fs-regular;
      }

      .input-container i,
      .button-container i {
        padding: 20px;
      }

      button {
        background-color: #fff;
      }
  }

}

.students-list {
  .paragraph {
    background-color: #F8F8F8;
    padding: 40px 0 15px 40px;
    font-weight: $fw-medium !important; //why
    font-size: $fs-regular;
    color:  #727272;
    margin-top: 40px;
    margin-bottom: 5px;
  }

  ul {
    padding: 0;
    margin: 5px 0;
  }

  li {
      list-style: none;
      background-color: #F8F8F8;
      width: 100%;
      padding: 10px 70px;
  }

  .student i {
    margin-right: 30px;
  }

  .student {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .student button {
    border: 0;
    background-color: $basic-color;
    color: $table-cell-color;
    padding: 8px 20px;
    border-radius: 30px;
  }

  .show-more {
    text-align: center;
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
  }
}

