<div mat-dialog-content>
  <p>Dodaj pytanie</p>
  <mat-form-field >
    <mat-label>Pytanie</mat-label>
    <input matInput [(ngModel)]="data.question">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Odpowiedź</mat-label>
    <textarea matInput [(ngModel)]="data.answer"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button [mat-dialog-close]="{ question: data.question, answer: data.answer}" cdkFocusInitial>Utwórz</button>
</div>
