@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/variables.scss";

.wrapper {
  width: 100%;
  height: $section-w-o-header-height;
  .search {
    display: flex;
    height: 45%;
    align-items: center;
    padding: $section-padding;
    .image-section {
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;
      .image {
        max-width: 258px;
      }
    }

    .search-section {
      width: 70%;
      display: flex;
      flex-direction: column;
      span {
        font-weight: $fw-medium !important;
        font-size: $fs-medium;
        margin-bottom: $margin-large;
      }

      .form {
        display: flex;
        border: 1px solid $basic-color;
        border-radius: $button-border-radius;
        width: 90%;
        padding: 0 24px;

        .input-container {
          width: 40%;
          display: flex;
          align-items: center;
          padding: 0 10px;
          input {
            width: 100%;
            margin-top: $margin-xs;
            font-size: $fs-regular;
          }
        }
        i {
          margin-right: $margin-xs;
        }
        .button-container {
          width: 20%;
          text-align: end;
          display: flex;
          padding: 0 10px;
          button {
            width: 100%;
            margin-top: $margin-xs;
          }
        }

        input,
        button {
          border: none;
          padding: 15px 0;
          caret-color: $searchbar-color;
        }

        input:focus {
          outline: none;
        }

        .input-container input::-webkit-input-placeholder {
          text-align: left;
          border-right: 1px solid $searchbar-color;
          color: $searchbar-color;
          padding: 10px;
          font-size: $fs-regular;
        }

        .button-container button {
          font-size: $fs-regular;
        }

        button {
          background-color: white;
        }
      }
    }
  }

  .students-list {
    height: 55%;
    p {
      background-color: $table-cell-color;
      font-weight: $fw-medium !important;
      font-size: $fs-regular;
      color: $quote-color;
      margin-bottom: $margin-xs;
      padding: $paragraph-padding;
    }

    ul {
      padding: 0;
      margin: $margin-xs 0;
    }

    li {
      list-style: none;
      background-color: $table-cell-color;
      width: 100%;
      padding: $list-li-padding;
    }

    .student img {
      margin-right: margin-medium;
      width: 25px;
    }

    .student {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .name {
        display: flex;
        align-items: center;
      }
    }

    .student div {
      min-width: 200px;
    }

    .student button {
      border: 0;
      background-color: $basic-color;
      color: $table-cell-color;
      padding: $list-button-padding;
      border-radius: $button-border-radius;
      font-size: $fs-small;
    }

    .show-more {
      text-align: center;
      margin: 0;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
