@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";

.wrapper {
  width: 100%;
  padding: 0 62px;
  height: calc(100% - 102px);

  .greeting {
    height: 50%;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0 120px;
    align-items: center;
    justify-content: space-between;

    img {
      height: 300px;
      width: auto;
    }

    .text {
      width: 60%;
      flex-direction: column;
      text-align: left;
      align-self: center;
      .app-name {
        font-size: $fs-large;
        line-height: 67px;
        height: auto;
        color: $secondary-text-color;
        margin-bottom: $margin-regular;
      }

      .quote {
        font-size: $fs-medium;
        font-style: italic;
        line-height: 33px;
        height: auto;
        color: $quote-color;
      }
    }
  }

  hr {
    margin: 0;
    height: 1px;
    background-color: $basic-color;
  }
}
