<div class="wrapper">
    <div class="greeting">
        <img src="../../assets/images/dashboard.png">
        <div class="text">
            <div class="app-name">
                System do obrony prac dyplomowych
            </div>
            <div class="quote">
                “Lepiej częściowo mieć rację, niż całkowicie się mylić.”
            </div>
        </div>
    </div>
    <div class="section2">
        <div class="information">
            <div class="text2">
                Przejdz do systemu obron prac dyplomowych!
            </div>
            <div class="arrow">
                <img class="arrow1" src="../../assets/images/arrow.png">
                <button mat-raised-button color='primary'>Obrona</button>
            </div>
        </div>
        <img src="../../assets/images/education.png">
    </div>
    <hr>
</div>
