/* You can add global styles to this file, and also import other style files */
@import './assets/styles/colors.scss';
* {
  box-sizing: border-box;
  font-weight: 300 !important;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: $basic-color;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
