
$border-table: 3px solid white;
$header-height: 100px;
$header-button-width: 180px;
$header-button-height: 45px;
$line-margin: 0 62px;
$section-w-o-header-height: calc(100% - 102px);
$button-border-radius: 30px;
$section-padding: 18px 92px;
$list-button-padding: 8px 20px;
$list-li-padding: 8px 70px;
$paragraph-padding: 10px 72px;
$student-preview-padding: 24px 56px;
$avatar-width: 200px;
$question-card-width: 300px;
$question-card-height: 150px;
// ---------------- MARGINS ------------
$margin-xs: 8px;
$margin-small: 14px;
$margin-regular: 24px;
$margin-medium: 32px;
$margin-large: 48px;
$margin-xl: 65px;
//----------------FONT SIZE -----------
$fs-small: 14px;
$fs-regular: 18px;
$fs-medium: 24px;
$fs-large: 48px;
$fs-xl: 36px;
//----------------FONT WEIGHT -----------
$fw-regular: 300 !important;
$fw-medium: 400 !important;
$fw-bold: 500 !important;
