$header-height: 100px;
$header-button-width: 180px;
$line-margin: 0 62px;

// ---------------- MARGINS ------------
$margin-regular: 24px;

//----------------FONT SIZE -----------
$fs-regular: 18px;
$fs-medium: 24px;
$fs-large: 48px;

//----------------FONT WEIGHT -----------
$fw-regular: 300;
$fw-medium: 400;
$fw-bold: 500;
